<div class="bg-gray-100 py-10">
  <div class="ontainer mx-auto px-6 lg:px-20 grid grid-cols-1 md:grid-cols-2 gap-8">
    <article
      class="bg-[#085b45] text-white p-10 shadow-lg relative rounded-sm overflow-hidden"
    >
      <h2
        class="text-3xl md:text-4xl font-extrabold text-center tracking-wide font-sans mb-6"
      >
        СКЛАДСКИЕ РЕШЕНИЯ
      </h2>

      <div class="border-t border-white/30 mt-2 mb-8"></div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-8">
        <div class="flex items-center gap-4">
          <i class="fas fa-th-large text-2xl w-8"></i>
          <span class="text-lg">Оптовое хранение</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-snowflake text-2xl w-8"></i>
          <span class="text-lg">С контролем климата</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-ellipsis-v text-2xl w-8"></i>
          <span class="text-lg">Стеллажное хранение</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-carrot text-2xl w-8"></i>
          <span class="text-lg">Органическая обработка</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-utensils text-2xl w-8"></i>
          <span class="text-lg">Пищевого назначения</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-cog text-2xl w-8"></i>
          <span class="text-lg">Открытые площадки</span>
        </div>
      </div>
    </article>

    <article
      class="bg-[#085b45] text-white p-10 shadow-lg relative rounded-sm overflow-hidden"
    >
      <h2
        class="text-3xl md:text-4xl font-extrabold text-center tracking-wide font-sans mb-6"
      >
        ЛОГИСТИЧЕСКИЕ РЕШЕНИЯ
      </h2>

      <div class="border-t border-white/30 mt-2 mb-8"></div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 gap-x-8">
        <div class="flex items-center gap-4">
          <i class="fas fa-truck text-2xl w-8"></i>
          <span class="text-lg">Собственный транспорт</span>
        </div>

        <div class="flex items-center gap-4">
          <i class="fas fa-train text-2xl w-8"></i>
          <span class="text-lg">Ж/д подача</span>
        </div>

        <!-- <div class="flex items-center gap-4">
          <i class="fas fa-user-shield text-2xl w-8"></i>
          <span class="text-lg">Национальная 3PL</span>
        </div> -->

        <div class="flex items-center gap-4">
          <i class="fas fa-box-open text-2xl w-8"></i>
          <span class="text-lg">Контрактная упаковка</span>
        </div>
      </div>
    </article>
  </div>
</div>
