<section class="w-full bg-white">
  <div class="pt-20 py-20">
    <div
      class="container mx-auto px-6 lg:px-20 grid grid-cols-1 md:grid-cols-2 gap-8"
    >
      <div>
        <h2
          class="text-3xl md:text-4xl font-extrabold text-green-900 leading-tight mb-8"
        >
          НАМ ДОВЕРЯЮТ В СФЕРЕ ГРУЗОПЕРЕВОЗОК
        </h2>

        <p class="text-lg text-gray-700 leading-relaxed mb-10">
          Мы работаем с клиентами, которым важны стабильность, точность и
          ответственность. Dunyoi Asr обеспечивает безопасную транспортировку
          различных типов грузов, контролируя каждый этап — от погрузки до
          доставки. Благодаря современному подвижному составу, продуманной
          логистике и чётким стандартам качества, мы подтверждаем доверие
          партнёров на практике.
        </p>

        <button
          class="bg-green-800 text-white px-10 py-4 text-lg font-semibold tracking-wide hover:bg-green-900 transition"
        >
          УЗНАТЬ БОЛЬШЕ
        </button>
      </div>

      <!-- RIGHT SIDE -->
      <div class="flex justify-center items-center">
        <img
          src="img/verify.png"
          alt="Verify"
          class="w-full max-w-[520px] md:max-w-[620px] lg:max-w-[700px] h-auto object-contain"
        />
      </div>
    </div>
  </div>
</section>
