<footer class="w-full bg-white pt-10 mt-20 pb-6">
  <div
    class="max-w-7xl mx-auto px-6 flex flex-col lg:flex-row items-center lg:items-start justify-between gap-10"
  >
    <div class="flex items-center gap-4">
      <img src="img/logo.png" alt="Company logo" class="h-20 object-contain" />
    </div>

    <div class="text-center lg:text-left">
      <h2 class="text-lg font-semibold text-gray-900">
        {{ "HQ" | translate }}
      </h2>

      <p class="text-gray-700">
        {{ "TAJIKISTAN" | translate }}
      </p>

      <p class="text-gray-700">
        {{ "ADDRESS" | translate }}
      </p>

      <!-- <p class="text-green-800 font-bold text-xl mt-2">
        {{ "PHONE" | translate }}
      </p> -->
    </div>

    <div
      class="flex flex-col sm:flex-row lg:flex-row gap-4 w-full lg:w-auto justify-center lg:justify-start"
    >
      <!-- <button
        class="px-5 cursor-pointer py-2 border border-green-800 text-green-900 hover:bg-green-900 hover:text-white transition"
      >
        {{ "CONTACTS" | translate }}
      </button> -->

      <!-- <button
        class="px-5 cursor-pointer py-2 border border-green-800 text-green-900 hover:bg-green-900 hover:text-white transition"
      >
        {{ "GET_OFFER" | translate }}
      </button> -->

      <button
        type="button"
        (click)="openMail()"
        class="px-5 cursor-pointer py-2 border border-green-800 text-green-900 hover:bg-green-900 hover:text-white transition break-all"
      >
        {{ "EMAIL" | translate }}
      </button>
    </div>
  </div>

  <div class="max-w-7xl mx-auto mt-10 border-t"></div>

  <div
    class="max-w-7xl mx-auto px-6 mt-6 flex flex-col lg:flex-row items-center justify-between gap-4"
  >
    <p class="text-gray-600 text-sm text-center lg:text-left leading-snug">
      (c) 2025 Logistics Company |
      <a routerLink="/policy">{{ "PRIVACY_POLICY" | translate }}</a>
    </p>

    <div class="flex gap-4 mt-2 lg:mt-0">
      <a
        class="text-green-900 hover:opacity-60 transition"
        href="mailto:dunyoiasr@mail.ru"
        target="_blank"
        aria-label="Send us an email"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="h-7 w-7 fill-green-800"
        >
          <path
            d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM20 7.23792L12.0718 14.338L4 7.21594V19H20V7.23792ZM4.51146 5L12.0619 11.662L19.501 5H4.51146Z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
