<div class="relative w-full">
  <img
    src="img/truck.jpg"
    alt="banner"
    class="w-full h-[260px] sm:h-[340px] md:h-[480px] object-cover"
  />

  <div
    class="absolute inset-0 flex flex-col justify-center px-6 sm:px-10 md:px-20"
  >
    <h1
      class="text-white font-extrabold text-2xl sm:text-3xl md:text-5xl leading-tight max-w-xs sm:max-w-lg md:max-w-3xl"
    >
      Логистика, которой <br />можно доверять.
      Быстрая доставка груза
    </h1>

    <a
      href="#contact"
      class="mt-6 inline-flex items-center justify-center bg-green-800 hover:bg-green-700 text-white font-semibold px-8 py-3 text-lg tracking-wide shadow-lg hover:scale-105 transition-all duration-300 max-w-fit"
    >
      СВЯЗАТЬСЯ С НАМИ
    </a>
  </div>
</div>
