<div class="relative">
  <img src="img/truck.png" alt="" class="w-full object-cover" />

  <div class="absolute inset-0 flex flex-col justify-center px-10 md:px-20">
    <h1
      class="text-white font-extrabold text-4xl md:text-5xl leading-tight max-w-3xl"
    >
      Полный спектр услуг складирования<br />
      3PL-выполнение<br />
      транспорт
    </h1>

    <a
      href="#contact"
      class="mt-10 block w-[280px] bg-green-800 hover:bg-green-700 text-white font-semibold px-12 py-3 text-lg tracking-wide shadow-lg hover:scale-105 transition-all duration-300"
    >
      СВЯЗАТЬСЯ С НАМИ
    </a>
  </div>
</div>
